@import "base/variables";

* {
    font-family: 'MuseoModerno', sans-serif;
    font-style: normal;
    transition: 0.5s all;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/benefits";
@import "blocks/title";
@import "blocks/consultation";
@import "blocks/form";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/footer";
@import "blocks/modal";

@import "base/media";